---
BasedOnStyle: LLVM

ColumnLimit: 79
IndentWidth: 2
UseTab: Never

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AlwaysBreakAfterDefinitionReturnType: All
ContinuationIndentWidth: 2
PointerAlignment: Left
...
